*{
    /* margin: 0; */
    padding: 0;
}
ul{
    list-style-type: none;
}
nav{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
     align-items: center;
    /* max-width: 90%; */
    background-color: #F5F5EE;
    padding-top: 10px;

}
.navs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-left: 90px;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 290;
    line-height: 20px;
    color: rgb(0, 0, 0);
    margin-left: 110px;
}
.apply{
    display: flex;
    list-style-type: none;
    margin-left: 90px;
    gap: 20px;
    margin-right: 150px;
}
.big{
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 35px;
    font-weight: 200;
    line-height: 16px;
    color: white;
    background-color: #F26522;
    padding: 23px 21px;
    /* height: 20%; */
}
.apply{
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 18px;
    font-weight: 250;
    line-height: 20px;
    color: rgb(0, 0, 0); ;
    align-items: center;

}
.apply button{
    color: white;
    background-color: #FB651E;
    padding: 9px 12px;
    border: none;
    border-radius: 9px;
    justify-content: center;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    color: rgb(255, 255, 255);
}
.all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    /* width: 90%; */
    /* height: 80%; */
    
}
.all .why{
    margin-left: 100px;
     margin-bottom:  0px; 
    flex: 2;
    max-width: 60%; 
    align-items: center;
    justify-content: center;
    /* width: 90%; */
    /* height: 80%; */

}
.all .combine{
    flex: 1;
    max-width: 48%;
    /* width: 30%; */
    /* height: 70%; */

}

.why .comb{
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 60.9px;
    font-weight: 600;
    line-height: 60px;
    color: rgb(0, 0, 0);

}
.why .tor{
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 70px;
    color: rgb(251, 101, 30);
    font-weight: 630;
    line-height: 90px;
}
.why p{
    top: -80px;
    position: relative;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 24px;
    font-weight: 200;
    line-height: 32px;
    color: rgb(0, 0, 0);
}
.why button{
    position: relative;
    top: -85px;
    font-family:Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    background-color: #FDA942;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
}
    .box{
        width: 17.5%;
        height: 16vh;
        background-color: #F5F5EE;
        border-radius: 20px;
        margin-left: 600px;
        padding-top: 36px;
        color:rgb(251, 101, 30) ;
       font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";   
        font-style: normal;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
         box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
    }
    .boxes{
        width: 17.5%;
        height: 16vh;
        background-color: #F5F5EE;
        border-radius: 20px;
        margin-left: 600px;
        padding-top: 36px; 
        color:rgb(251, 101, 30) ;
       font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";   
        font-style: normal;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
    }
    .bigbox{
        text-align: center;
        /* gap: 30px; */
        top: -460px;
        position: relative;     
    }
    .span{
        font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
       font-style:normal;
       font-weight: 200; 
        Color: rgb(0 0 0);
        font-size: 17px;
        line-height:10px;
    }
    .YC{
      width: 28%;
      height: 25vh;
      background-color: white ;
      border-radius: 10px;
      position: relative;
      top: 40px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
      /* display: flex; */
      /* align-items: center; */
      /* justify-content: center; */
      
    }
    .ylc{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        position: relative;
        top: 15px;
    }
    .comp{
        background-color: #F5F5EE;
        /* height: 400vh;  */
         top: -350px; 
         position: relative; 
    } 
     .top{
      color: blue;  
      margin-left: 40px;
      bottom: -20px;
      position: relative;
      font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-style: normal;
      font-size: 20px;
      font-weight: 600;
      line-height: 27px;
      color: rgb(16 138 210);    
    }
    .words{
        max-width: 80%;
        margin-left: 40px;
        margin-top: 30px;
        font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-style: normal;
        font-size: 16px;
        font-weight: 200;
        line-height: 24px;
        color: rgb(0, 0, 0);
    }
    .word{
        font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-style: normal;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 200;
        line-height: 23px;
        color: rgb(0, 0, 0);
        padding-left: 30px;
        max-width: 80%;
        /* word-spacing: 2px; */
    }
    .wordy{
        font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-style: normal;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 200;
        line-height: 24px;
        color: rgb(0, 0, 0);
        word-spacing: 2.7px;
        padding-left: 30px;
        max-width: 80%;
    }
    .tops{
        display:flex ;
        justify-content: center;
        align-items: center;
        font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-style: normal;
        font-size: 30px;
        font-weight: 500;
        line-height: 36px;
        color: rgb(0 0 0);
        margin-top: 130px;
    }
    .images{
        max-width: 90%;
        margin: 0 auto;
        position: relative;
        bottom: 30px;
    }
    .images span img{
        width: 94.5px;
        margin: 5px; 
        padding: 15px 20px;
        padding-bottom: 20px ;
        background-color: white; 
       text-align:center;
       border-radius: 5px;
    }
    .images .stripe{
    padding: 0;
    padding-bottom: 0;
    margin: 0;
    width: 0;
    }
    .help{
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        margin-left: 500px;
        position: relative;
        top: -270px;
    }
    .people{
   font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-style: normal;
   font-size: 30px;
   font-weight: 500;
   line-height: 45px;
   color: rgb(0, 0, 0);
   word-spacing: 10px;
}
.founders{
    color: rgb(251 101 30);
}
.them{
    margin-left: 170px;
}
.We{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 220px;
}
.imp{
border-left: 4px solid #FB651E;
padding-left: 12px;
height: 120px;
font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-style: normal;
font-size: 18px;
font-weight: 500;
line-height: 27px;
color: rgb(0, 0, 0);
}
.nom{
     /* display: flex; */
    /* justify-content: space-evenly; */
    list-style-type: disc;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(0, 0, 0);
     text-align: left;
     margin-bottom: 70px;
}
   .number{
    color: rgb(38, 139, 210);
   } 
   .nom2{
    /* display: flex; */
    /* justify-content: space-evenly; */
    list-style-type: disc;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(0, 0, 0); 
    text-align: left;
   }
   .nom2s{
    list-style-type: disc;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(0, 0, 0);
    margin-bottom: 120px;
    text-align: left;
    
   }
   .norms{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: disc;
    position: relative;
    bottom: 200px;
    gap: 40px;
    /* max-width: 150%; */
    text-align: left;

   }
   .two{
    /* margin-right: 50px; */
   }
   .text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 40px;
   }
   .imgtext .imgdiv img{
    /* max-width: 80%; */
    position: relative;
    margin-left: 25%; 
    /* margin-right: 36px; */
    width: 50%;
   margin-top: 60px;
 }
 .imgtext{
    background-color: #F5F5EE;
    /* background-color: #F26522; */
    position: relative;
    bottom: 140px;
    /* height: 70vh; */
    /* margin-top: 73px; */
    /* padding-bottom: 9px; */
 }
 .succ{
    color: rgb(251, 101, 30);
 }
 .imgtext .imgdiv .ypics img{
   width: 50px;
   height: 50px; 
   border-radius: 50px;
    position: relative; 
   bottom: 490px;
   line-height: 10px;
 }
 .insidep{
   margin-left: 30px; 
 }
 .imgdiv .inside{
    align-items: center;
    font-size: 20px;
    justify-content: center;
    display: flex;
    bottom : 380px;
    /* margin-top: -360px; */
    color: white;
    position: relative;
    margin-left: -49px;
    text-shadow: 2px 1px 2px black;
    word-spacing: 5px;
    /* margin-bottom: 400px; */
 }
 .run{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    color: rgb(0 0 0);
    position: relative;
    bottom: 90px;
 }
 .who{
    color: rgb(251, 101, 30);
 }
 .grow{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .who{
    color: rgb(251, 101, 30);
 }
 .grow{
    display: flex;
    align-items: center;
    justify-content: center;
 }
.boxtext{
    height: 80vh;
    width: 40%;
    background: #F5F5EE;
    border-radius: 20px;
    margin-top: -30px;
    /* text-align: center; */
}
    .parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 59px;
}
 .boxtext .most img{
    width: 90%;
    /* height: 32vh; */
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 30px;
    object-fit: cover;
   
}
.boxtext img{
    width: 90%;
    height: 35vh;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    margin-top: 30px;
    object-fit: cover;
}
.part{
    margin-left: 40px;
    font-family:Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(0, 0, 0);
    border-left: 5px solid #FB651E;
    padding: 5px;
    height: 12px;
}
.each{
    max-width: 80%;
    margin: 0 auto;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    color: rgb(0, 0, 0);
}
.invest{
    margin-left: 40px;
    font-family:Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(0, 0, 0);
    border-left: 5px solid #FB651E;
    padding: 5px;
    height: 12px;   
}
.data{
    max-width: 80%;
    margin: 0 auto;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    color: rgb(0, 0, 0);
}
.boxtext .podium img{
    width: 90%;
    height: 35vh;
}
.boxtext .exclusive img{
   width: 85%;
}
.private{
    margin-left: 40px;
    font-family:Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(0, 0, 0);
    border-left: 5px solid #FB651E;
    padding: 5px;
    height: 12px;     
}
.benefit{
    max-width: 80%;
    margin: 0 auto;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    color: rgb(0, 0, 0); 
}
.exclusive{
    margin-left: 40px;
    font-family:Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(0, 0, 0);
    border-left: 5px solid #FB651E;
    padding: 5px;
    height: 12px;      
}
.access{
    max-width: 80%;
    margin: 0 auto;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    color: rgb(0, 0, 0); 
}
.written{
    margin-left: 40px;
    font-family:Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(0, 0, 0);
    border-left: 5px solid #FB651E;
    padding: 5px;
    height: 12px;        
}
.net{
    margin-left: 40px;
    font-family:Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(0, 0, 0);
    border-left: 5px solid #FB651E;
    padding: 5px;
    height: 12px;           
}
.work{
    text-decoration: underline;
}
.put{
    display: flex;
     align-items: center;
     justify-content: center;
     font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     font-style: normal;
     font-size: 30px;
     font-weight: 500;
     line-height: 36px;
     color: rgb(0, 0, 0);
     margin-top: 50px;
}
.inn{
  color: rgb(251, 101, 30);
  padding: 10px;
}
.deck{
     display: flex;
     align-items: center; 
    justify-content: space-evenly;     
}
.dont{
    list-style-type: square; 
     font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     font-style: normal;
     font-weight: 200;
     line-height: 24px;
     color: rgb(0, 0, 0);
     word-spacing: 2px;
}
.bg{
    background-color: #F5F5EE;
    padding-bottom: 80px;
    padding-top: 10px;
    /* margin-bottom: 1000px; */
}
.three{
display: flex;
/* align-items: center; */
justify-content: center;
gap: 35px;
padding: 0;
}

.three .left img{
    width: 99%;
    height: 36vh;
    /* object-fit: contain; */
border-radius: 10px;

}
.three .middle img{
    /* object-fit: contain; */
    width: 103%;
    height: 36vh;
    /* margin-top: 90px; */ 
border-radius: 10px;

}
.three .right img{
    width: 99%;
    height: 36vh;
    /* object-fit: contain; */
 border-radius: 10px;
}
.worth{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
   font-family:Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-style: normal;
   font-size: 30px;
   font-weight: 500;
   line-height: 36px;
   color: rgb(0, 0, 0);
}
.maximg .max img{
    width: 50%;
    height: 50%;
    /* max-width: 80%; */
    /* margin: 0 auto; */
    margin-left: 25%;
    margin-top: 3px;
}
.maximg .dalton img{
    width: 40px;
    height: 40px; 
    border-radius: 40px;
     position: relative; 
    bottom: 325px;
    line-height: 10px;
    margin-left: -660px;
}
.maximg .truth{
    align-items: center;
    font-size: 20px;
    justify-content: center;
    display: flex;
    bottom : 380px;
    /* margin-top: -360px; */
    color: white;
    position: relative;
    margin-right: 270px;
    text-shadow: 2px 1px 2px black;
    word-spacing: 5px;
}
.equity{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: rgb(0, 0, 0);
    bottom: 40px;
    position: relative;
}
.about{
    color: rgb(251, 101, 30);
    padding: 7px;
}
.hear{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: rgb(0, 0, 0);
    padding-top: 35px;
}
.Anderson .marc img{
    width: 105%;
    height: 10vh;
    object-fit: contain;
    border-radius: 9px;
}
.Anderson{
    max-width: 83%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    word-spacing: 3px;
}
.Anderson p{
    width: 69%;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
   font-size: 18px;
   font-weight: 200;
   line-height: 28px;
   color: rgb(0, 0, 0);
}
.Anderson .ron{
    width: 67%;
}
.con{
font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-style: normal;
font-size: 16px;
font-weight: 700;
line-height: 24px;
}
.Anderson .challenge{
width: 84%;
}
.Anderson .pat{
    width: 80%;
}
.late{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: rgb(0, 0, 0);
    margin-top: 80px;
    word-spacing: 2px;
}
.gut{
    gap: 0px;
}

.gut .consumer img{
    width: 80%;
    border-radius: 8px;
    height: 30vh;
    object-fit: cover;
}
.imma .back{
  width: 70%;
  font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(75, 85, 99);
}
.imma .views{
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    color:rgb(75, 85, 99) ;
    margin-top: -18px;
}
.you .view{
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    color:rgb(75, 85, 99) ;
    margin-top: -18px;
    position: relative;
    right: 70px;
}
.tech .vew{
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    color:rgb(75, 85, 99) ;
    margin-top: -18px;  
    position: relative;
    left: 140px; 
}
.you .should{
    width: 130%;
    position: relative;
    right: 70px;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(75, 85, 99);
}
.tech .sci{
    width: 80%;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(75, 85, 99);
    position: relative;
    left: 140px;
}
.gut .trust img{
    width: 200%;
    height: 30vh;
    border-radius: 8px;
    margin-left: -62px;
    object-fit: cover;    
}
.gut .hard img{
    width: 75%;
    margin-left: 190px;
    height: 30vh;
    border-radius: 8px;
    /* margin-right: 90px; */
    position: relative;
    left: -53px;
    object-fit: cover;    
} 
.gut{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}
.gut .you{
    padding-bottom: 19px;
}
 .group{
    width: 350%;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    color: rgb(0 0 0);
}
.teach .school img{
    width: 60%;
    border-radius: 5px;

}
.teach{
    display: flex;
    /* align-items: center; */
    /* gap: 0px; */
    margin: 0 auto;
}
 .essay{
    width: 900%;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    word-spacing: 5px;

    /* color: rgb(0 0 0); */
}
.by .paulg img{
    width: 500%;
    border-radius: 10px;
    position: relative;
    top: 20px;
    left: 40px;
}
.by{
    display: flex;
    /* align-items: center; */
    /* gap: 90px; */

}
.explore{
    width: 200%;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    color: rgb(0 0 0);
    margin-top: 40px;
} 
.pod .lecture img{
    width: 30%;
    border-radius: 10px;
    margin-top: 40px;
}
.pod{   
    display: flex;
    position: relative;
    left: 130px;
    margin-bottom: 50px;
    
}
.boxparent{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 10px; */
  max-width: 79.9%;
  margin: 0 auto;
  gap: 40px;
}
.black{
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.want{
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-style: normal;
 font-size:30px;
 font-weight: 500 ;
 line-height: 36px ;
 color: rgb(0, 0, 0);
 padding-top: 70px;
}
.yclibrary{
    width: 26%;
    height: 20vh;
    background-color: white;
    border-radius: 8px;
}
.letternews{
    width: 26%;
    height: 20vh;
    background-color: white; 
    border-radius: 8px;

}
.launch{
    width: 26%;
    height: 20vh;
    background-color: white;
    border-radius: 8px;
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}
.lat{
    background-color: #F5F5EE;
    /* height: 90vh;  */
    /* padding-bottom: 90px; */
    /* margin-bottom: 30px; */
     /* width: 50%; */
   margin: 0 auto;
   /* border-bottom: 1px solid red; */

}
.yclibrary img{
    width: 70%;
    border-radius: 10px;
    position: relative;
    left: 20px;
    /* display: flex; */
}
.yclibrary .video{
    width: 80%;
    position: relative;
    bottom: 10px;
    margin-left: 20px;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    color: rgb(0, 0, 0);

}
.yclibrary{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
}
.red{
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 4px;
}
.letternews .from img{
    width: 90%;
    border-radius: 10px;
}
.letternews{
    display: flex;
    align-items: center;
    justify-content: center;

}
.letternews p{
    margin-left: 20px;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 5px;
}
.letternews .red{
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 3%;
}
.launch img{
    width: 70%;
    border-radius: 10px;
    position: relative;
    left: 20px;
}
.launch{
    display: flex;
    align-items: center;
    justify-content: center;
}
.launch p{
    margin-left: 20px;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 22px; 
}
.launch .red{
    bottom: -1px;
}
.newsletter2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}
.yclibrary p{
    position: relative;
    bottom: 10px;
    margin-left: 20px;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    color: rgb(0, 0, 0);
}
.yclibrary .waas img{
    width: 60%;
    border-radius: 10px;
    position: relative;
    left: 40px; 
}
.letternews .blog img{
    width: 70%;
    border-radius: 10px;
}
.letternews .new{
    margin-left: 20px;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 15px;
}
.letternews .red{
   bottom: 2px; 
}
.launch .moore img{
    width: 75%;
    border-radius: 10px;
    position: relative;
    left: 10px; 
}
.launch .reed{
    margin-left: 20px;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 20px; 
}
.launch .red{
    bottom: -1px;
}
.big2{
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 35px;
    font-weight: 200;
    line-height: 16px;
    color: white;
    background-color: #F26522;
    padding: 23px 21px;
    width: 22px;
    margin-bottom: 120px;
    margin-right: 20px;
}
.apply2{
    display: flex;
    list-style-type: none;
    /* margin-left: 90px; */
    gap: 20px;
    /* margin-left: 150px; */
    margin-bottom: 140px;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 19px;
    font-weight: 200;
    line-height: 28px;
    color: rgb(0, 0, 0);
}
.apply2 button{
    color: white;
    background-color: #FB651E;
    padding: 9px 12px;
    border: none;
    border-radius: 9px;
    justify-content: center;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    color: rgb(255, 255, 255); 
    border: none; 
}
.programs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: rgb(0, 0, 0);
    /* background-color: #F5F5EE; */
}
.resources{
    margin-top: 90px;
}
.company{
    margin-top: 150px;
    /* border-bottom: 1px solid #a5a59c; */

}
.it{
    font-family: Avenir, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(0, 0, 0);
}
.insvg{
align-items: center;
justify-content: center;
}
.svgs{
    display: flex;
    align-items: center;
    gap: 30px;
}
.twenty{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 690px;
    padding-bottom: 30px;
        
    }

